<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>MAIN</title>
</head>
<body>

<div id="wrap">
    <span class="title">Hello!</span>
    <div class="user">
        <input type="button" class="btn" onclick=" location.href='/login'" value="LOGIN"/>
        <input type="button" class="btn" onclick=" location.href='/signup'" value="SIGNUP"/>
    </div>
</div>

</body>
</html>