<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">


</head>

<body>

<div class="background">
    <nav>
        <div class="navWrapper">
            <a href="" id="logo">Tensorflow Test</a>
            <div class="right">
                <div id="nav-icon" id="menuIcon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="overlay">
                    <div class="overlayContent">
                        <a href="/signup" id="login">Login&Signup</a>
                        <a href="/try" id="signup">Try</a>
                        <a href="/" id="contact">Community</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="header">
        <div class="headerWrapper">
            <h6>Tensorflow.js</h6>
            <h1> 체험하고, <br> 이야기를 나누세요! </h1>
            <div class="circle blue"></div>
            <div class="square red"></div>
            <div class="triangle green"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 177.893 177.893"><defs><style>.a{fill:url(#a);}.b{filter:url(#b);}</style><linearGradient id="a" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#3dbed5"/><stop offset="1" stop-color="#3dd55a"/></linearGradient><filter id="b" x="0" y="0" width="177.893" height="177.893" filterUnits="userSpaceOnUse"><feOffset dx="3" dy="3" input="SourceAlpha"/><feGaussianBlur stdDeviation="7.5" result="c"/><feFlood flood-color="#3dd55a" flood-opacity="0.396"/><feComposite operator="in" in2="c"/><feComposite in="SourceGraphic"/></filter></defs><g class="b" transform="matrix(1, 0, 0, 1, 0, 0)"><path class="a" d="M136.727,21104.928l-50.222,100h100Z" transform="translate(-8978.23 -19029.24) rotate(-25)"/></g></svg></div>
            <div class="circle orange"></div>
        </div>
    </div>
</div>

<div class="section services">
    <div class="sectionWrapper">
        <h6>튜토리얼</h6>
        <h2>Our Page</h2>
        <p class="description">우리의 페이지에서 무엇을 할 수 있나요?</p>
        <div class="square blue"></div>
        <div class="grid">
            <div class="card" onclick="location.href='/signup'">
                <h3>회원가입</h3>
                <p>간단하게 이메일로 가입을 할 수 있어요!</p>
            </div>
            <div class="card">
                <h3>커뮤니티</h3>
                <p>인공지능에 대해서 다양하게 의견을 나눠요!</p>
            </div>
            <div class="card" onclick="location.href='/try'">
                <h3>체험</h3>
                <p>아주 간단한 텐서플로우를 경험해요!</p>
            </div>
            <div class="card">
                <h3>코드</h3>
                <p>코드를 공개하고 있으니 공부해보세요!</p>
            </div>
        </div>
    </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js'></script>



<script  src="js/index.js"></script>




</body>

</html>
