<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Login and Signup form</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


    <link rel="stylesheet" href="css/signup.css">


</head>

<body>

<!-- Inspiration
https://dribbble.com/shots/2311260-Day-1-Sign-Up-and-Login-Animated
-->

<section class="user-authentication">
    <div class="user_options-container">
        <div class="user_options-text">
            <div class="user_options-unregistered">
                <h2 class="user_unregistered-title">로그인하기</h2>
                <p class="user_unregistered-text">계정이 있다면 로그인하세요!</p>
                <button class="user_unregistered-signup" id="signup-button">Login</button>
            </div>

            <div class="user_options-registered">
                <h2 class="user_registered-title">회원가입</h2>
                <p class="user_registered-text">간단하게 이메일로 가입하세요!</p>
                <button class="user_registered-login" id="login-button">SignUp</button>
            </div>
        </div>

        <div class="user_options-forms" id="user_options-forms">
            <div class="user_forms-login">
                <h2 class="forms_title">SignUp</h2>
                <form class="forms_form" action="/signup" method="post">
                    <fieldset class="forms_fieldset">
                        <div class="forms_field">
                            <input type="email" name="email" placeholder="Email" class="forms_field-input" required autofocus />
                        </div>
                        <div class="forms_field">
                            <input type="password" name="password" placeholder="Password" class="forms_field-input" required />
                        </div>
                        <div class="forms_field">
                            <input type="text" name="name" placeholder="Name" class="forms_field-input" required />
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <button type="button" class="forms_buttons-forgot" id="forget-button">Forgot password?</button>
                        <button type="submit" class="forms_buttons-action">Sign Up</button>
                        <a class="forms_buttons-mb-button" id="signup-button-mb">Login</a>
                    </div>
                </form>
            </div>
            <div class="user_forms-signup">
                <h2 class="forms_title">Login</h2>
                <form class="forms_form">
                    <fieldset class="forms_fieldset">
                        <div class="forms_field">
                            <input type="email" placeholder="Email" class="forms_field-input" required />
                        </div>
                        <div class="forms_field">
                            <input type="password" placeholder="Password" class="forms_field-input" required />
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <button type="submit" class="forms_buttons-action">Login</button>
                        <a class="forms_buttons-mb-button" id="login-button-mb">Sign Up</a>
                    </div>
                </form>
            </div>
            <div class="user_forms-forgot">
                <h2 class="forms_title">Forgot Password</h2>
                <form class="forms_form">
                    <fieldset class="forms_fieldset">
                        <div class="forms_field">
                            <input type="email" placeholder="Email" class="forms_field-input" required autofocus />
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <button type="submit" class="forms_buttons-action">Send reset link</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script  src="js/signup.js"></script>

</body>

</html>
